
.App .wrapper {
  margin: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.App .AppNavBar {
  height: 3.5rem;
}

.App .App-contents {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
}

.App .AppFooter {
  transition: height 0.15s ease-out;
  height: 4rem;
}

.App .AppFooter.expanded {
  height: 16rem;
}
