
.Connect .groups {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

.Connect .groups > li {
  margin-bottom: 0.75rem;
}

.Connect .groups .list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.Connect .groups .list .staff {
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 0.5em;
  display: flex;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  height: 9.375rem;
  width: calc(50% - 0.5rem);
}

.Connect .groups .list .staff .details {
  order: 2;
  width: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
}

.Connect .groups .list .staff .image {
  order: 1;
  width: 7rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.Connect .groups .list .staff .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0;
}

.Connect .groups .list .staff .description {
  padding: 0 1rem;
  flex-grow: 1;
}

.Connect .groups .list .staff .contact {
  background: #ececec;
}

.Connect .groups .list .staff .contact a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5rem 1rem;
}

.Connect .groups .list .staff .contact a:hover {
  transition: background ease 0.5s;
  background: rgba(0, 0, 0, .03);
}

.Connect .groups .list .staff .contact img {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.Connect .groups .list .staff .header img.profile-image {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 782px) {
  .Connect .groups .list .staff {
    width: 100%;
  }
  .Connect .groups .list .staff .contact a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 321px) {
  .Connect .groups .list .staff {
    height: 8rem;
  }
  .Connect .groups .list .staff .image {
    width: 5rem;
  }
  .Connect .groups .list .staff .details {
    width: calc(100% - 5rem);
  }
}
