.Home nav {
  border-bottom: 1px solid #ececec;
}

.Home nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
}

.Home nav ul li {
  width: 100%;
  text-align: center;
}

.Home nav ul li a {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #4c4c4c;
}

.Home nav ul li a:hover {
  transition: background ease 0.5s;
  background: rgba(0, 0, 0, .03);
}

.Home .banner {
  background: #fdfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ececec;
}

.Home .banner img {
  max-width: 800px;
  width: 85%;
  display: block;
}

.Home .events {
  display: flex;
  flex-flow: row wrap;
  max-width: calc(800px + 0.5rem);
  margin: 0 auto 1rem;
  left: calc(1.5rem - 8px);
  position: relative;
}

.Home .events .EventItem {
  width: calc(25% - 1rem);
  margin-right: 0.25rem;
  margin-left: 0.25rem
}

.Home .events .more {
  height: 18.375rem;
  width: 1.5rem;
  background: #ececec;
  background: linear-gradient(to right, #ececec 0%,#ffffff 81%);
  border-left: 1px solid #ececec;
  border-radius: 5px 0 0 5px;
  margin-bottom: 0.75rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.Home .events .more a {
  display: flex;
  align-items: center;
  height: 100%;
}

.Home .events .more a:hover {
  transition: background ease 0.5s;
}

.Home .events .more img {
  width: 1.5rem;
}

.Home .services {
  text-align: center;
}

.Home .services h5 {
  font-weight: lighter;
  font-size: 1.5em;
}

.Home .services .service {
  margin-bottom: 1em;
}

@media (max-width: 860px) {
  .Home .banner img {
    width: calc(100% - 1rem);
  }
  .Home .events {
    display: flex;
    flex-flow: row;
    margin: 0 auto 1rem;
    width: 100%;
    overflow: auto;
    left: 0;
  }

  .Home .events .EventItem {
    flex: 1;
    min-width: 200px;
    margin-right: 0.25rem;
    margin-left: 0.25rem
  }
}
