.Newsletters h1 {
  max-width: 800px;
  margin: 1em auto 0.5em;
}

.Newsletters ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: calc(800px + 0.5rem);
  margin: auto;
}

.Newsletters .Newsletter {
  width: 220px;
  margin-right: 0.25rem;
  margin-left: 0.25rem
}

@media (max-width: 840px) {
  .Newsletters h1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 460px) {
  .Newsletters .Newsletter {
    width: calc(100% - 0.5rem - 2px);
  }
  .Newsletters .Newsletter a {
    height: 27rem;
  }
}
