
.AppFooter {
  background: white;
  background: linear-gradient(to bottom, #ececec 0%,#ffffff 50%);
  color: #1b1c1d;
  z-index: 200;
  border-top: 1px solid #ececec;
}

.AppFooter .logo {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  padding: 0.4rem;
  left: 1.5rem;
  top: -0.5rem;
  border-radius: 100%;
  position: absolute;
}

.AppFooter.expanded .logo {
  border-bottom: 2px solid white;
  background: #ececec;
  margin-top: -2.2rem;
}

.AppFooter.nav-out .logo {
  opacity: 1;
  visibility: visible;
}

.AppFooter .logo  img {
  width: 2rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}

.AppFooter .contents {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.AppFooter a {
  color: #1b1c1d;
  text-decoration: none;
}

.AppFooter .metadata {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 0.65rem;
  color: #696969;
}

.AppFooter .expand-button {
  cursor: pointer;
  margin: -1.3rem auto -0.65rem;
  display: block;
  background: #ececec;
  border-radius: 35%;
  border: none;
  padding: .6rem 1rem;
  font-size: 1em;
  letter-spacing: .8px;
  color: white;
  border: 1px dashed white;
  transition: background 0.5s ease;
  border-bottom:4px solid white;
}

.AppFooter .expanded-view .social {
  margin-top: 0.5rem;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.AppFooter .expanded-view .social > div {
  font-size: 0.9rem;
  flex-grow: 1;
  padding: 1rem 0;
}

.AppFooter .expanded-view .social li {
  padding: 0.25em 0 0.25rem 1.5rem;
  display: block;
}

.AppFooter .expanded-view .social li {
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: left center;
}

.AppFooter .expanded-view .social li.facebook {
  background-image: url('../assets/images/icons/facebook.svg');
}

.AppFooter .expanded-view .social li.instagram {
  background-image: url('../assets/images/icons/instagram.svg');
}

.AppFooter .expanded-view .social li.mail {
  background-image: url('../assets/images/icons/mail.svg');
}

.AppFooter .expanded-view .social li.phone {
  background-image: url('../assets/images/icons/phone.svg');
}

.AppFooter .expanded-view .social li.fax {
  background-image: url('../assets/images/icons/fax.svg');
}

.AppFooter .expand-button img {
  height: 1rem;
}

.AppFooter .social-simple {
  margin: 0 1rem;
}

.AppFooter .social-simple a {
  display: inline-block;
  padding: 0.25rem;
}

.AppFooter .social-simple {
  display: flex;
}

.AppFooter .social-simple li.end {
  margin-left: auto;
  margin-top: 0.2rem;
}

.AppFooter .social-simple li:not(.visit) a {
  padding: 0.4rem 0.5rem;
}

.AppFooter .social-simple .visit a {
  font-weight: lighter;
  color: white;
  background: #ec7b24;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.AppFooter .social-simple a img {
  height: 1rem;
}

.AppFooter .quick-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  font-weight: lighter;
}

.AppFooter .quick-nav li {
  width: 30%;
}

.AppFooter .quick-nav a {
  text-align: center;
  font-size: 0.9rem;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  background: #ec7b24;
}

@media screen and (min-width: 426px) {
  .AppFooter .expanded-view .social > div {
    width: 50%;
    flex-grow: 0;
  }
}

@media screen and (max-width: 321px) {
  .AppFooter .expanded-view .social li {
    font-size: 0.8rem;
  }
}
