.AppNavBar {
  border-top: 3px solid #ec7b24;
  border-bottom: 1px solid #ececec;
}

.AppNavBar ul {
  display: flex;
  height: 100%;
}

.AppNavBar li {
  display: flex;
  border-right: 1px solid #ececec;
  align-items: center;
}

.AppNavBar li a:hover {
  transition: background ease 0.5s;
  background: rgba(0, 0, 0, .03);
}

.AppNavBar .logo {
  width: 2.5em;
  display: block;
  padding-right: 1em;
  padding-left: 1em;
  height: 100%;
  display: flex;
}

.AppNavBar .logo img {
  width: 100%;
}
