.EventItem a {
  display: block;
  height: 18.375rem;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
}

.EventItem a {
  text-decoration: none;
  color: #4c4c4c;
}

.EventItem a .hover {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0;
}

.EventItem a:hover .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 122, 37, 0.25);
  z-index: 100;
  border-radius: 5px;
  visibility: visible;
  opacity: 100;
}

.EventItem .hover .button {
  position: absolute;
  top: 21%;
  left: 50%;
  margin: -1.5625rem 0 0 -3.5rem;
  height: 3.125rem;
  width: 7rem;
  padding: 0;
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  line-height: 3.125rem;
  border-radius: 1000px;
}

.EventItem .hover .button:hover {
  background: #fff;
  color: #4c4c4c;
}

.EventItem .header {
  order: 1;
}

.EventItem.with-image .header {
  margin-top: -9.1875rem;
  height: 9.1875rem;
  display: flex;
}

.EventItem:not(.with-image) .header {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  height: 7.1875rem;
}

.EventItem.green:not(.with-image) .header {
  background: repeating-linear-gradient(
    45deg,
    #4cAf50,
    #4cAf50 10px,
    #8bc34a 10px,
    #8bc34a 20px
  );
}

.EventItem.pink:not(.with-image) .header {
  background: repeating-linear-gradient(
    45deg,
    #e91e63,
    #e91e63 10px,
    #f06292 10px,
    #f06292 20px
  );
}

.EventItem .header h3 {
  padding: 0.35em 0.75em;
}

.EventItem.with-image .header h3 {
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 100%;
}

.EventItem .date {
  order: 2;
  padding: 0 0.75em;
  margin-top: 0.35em;
  font-style: italic;
}

.EventItem p {
  order: 2;
  padding: 0.35em 0.75em;
  flex-grow: 1;
}

.EventItem .image {
  height: 9.1875rem;
  order: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.EventItem .location {
  border-top: 1px solid #ececec;
  background: #ececec;
  order: 3;
  padding: 0.35em 0.75em;
}
