body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #4c4c4c;
}

h2 {
  font-size: 1.5em;
}

.prompt {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  background: #ec7b24;
  color: white;
}
